.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
}


.navContainer {
  width: 100%;
  max-width: 1024px;
  color: rgb(140, 58, 58);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: 25px;
}

.navItems {
  margin-top: 8px;
}

.navButton {
  margin-left: 20px;
  border: 1px solid rgb(104, 31, 31);
  outline: none;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30px;
  color: #c82828;
}