.navbar {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 4;
}


.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 35px;
}

.navItems {
  margin-top: 8px;
}

.navButton {
  margin-left: 20px;
  border: 1px solid rgb(104, 31, 31);
  outline: none;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30px;
  color: #f01d1d;
  transition: all 0.3s;
}


.navButton:hover {
  color: aliceblue;
  background-color: rgb(104, 31, 31);
}